/**
 * tbis.me index style
 */

@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    font-family: Tahoma, "Microsoft YaHei", "STXihei", "STHeiti Light", "SimHei";
    font-size: 12px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #2c2d2f;
    cursor: pointer;
}

span {
    white-space: nowrap;
}

.logo-container {
    height: 100px;
    width: 100%;
    z-index: 1;
}

.logo {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50px;
    margin: -25px 0 0 0;
    line-height: 50px;
    font-size: 1.2rem;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: solid 1px rgba(0, 0, 0, 0);
}

.logo .link {
    padding: 10px;
}

.logo .link:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: right;
    position: relative;
}

.footer-container {
    position: absolute;
    padding: 70px 0 10px 10px;
    height: 50px;
    line-height: 20px;
    top: 50%;
    margin: -25px 0 0 0;
}

@media screen and (min-width: 768px) {
    .logo-container {
        height: 90%;
    }
    .logo {
        text-align: center;
        top: 30%;
    }
    .logo .link {
        transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        -moz- transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
    }
    footer {
        height: 10%;
        text-align: center;
    }
    .footer-container {
        width: 100%;
        padding: 0;
    }
}
